<html lang="ja" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:url" content="https://hidetaro7.github.io/yonsoku/">
    <meta name="og:title" content="四足のヒーローのジャケットをつくろう">
    <meta name="og:image" content="https://hidetaro7.github.io/yonsoku/image/ogp.png">
    <meta name="og:description" content="今回「四足のヒーロー」をシングル・カットして（AppleやGoogleやAmazonなどの）各種音楽ストアでリリースしたいと思います。そうなると音源のジャケット画像が必要です。いっしょにジャケットを埋め尽くしませんか？">
    <meta name="og:type" content="article">
    <link rel="stylesheet" href="./style/style.css">
    <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
