<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="https://hidetaro7.github.io/yonsoku/">
    <meta property="og:title" content="「四足のヒーロー」を49匹の猫ちゃんとともにリリースしました">
    <meta property="og:image" content="https://hidetaro7.github.io/yonsoku/image/ogp.jpg">
    <meta property="og:description" content="集まってくれた49匹のカワイイ猫ちゃんたちで埋め尽くされたジャケットとともに、楽曲「四足のヒーロー」が大手音楽配信ストアよりリリースされました！パチパチパチー！👏👏👏">
    <meta property="og:type" content="article">
    <link rel="stylesheet" href="./style/style.css">
    <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
    <link rel="shortcut icon" href="./image/favicon.ico">

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
