{% extends '_layout.njk' %}

{% block title %}四足のヒーローのジャケットをつくろう{% endblock %}

{% block body %}
  <div class="hero-image">
    <h1 class="wf-Hannari">見てな、ニンゲンたち。<br>
    <b>
    ワレワレが<br>四足の<ruby>
猫<rt>ヒーロー</rt>
</ruby>だ！
    </b>
    </h1>
  </div>
  <div class="container tweeted">
    <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">全国のねこたち、集まれええええい！！！！<br>一緒にジャケット写真になってみない？<br>ツイートのリンク先のぺいじも見てね！<a href="https://t.co/nFFqKL8i93">https://t.co/nFFqKL8i93</a><a href="https://twitter.com/hashtag/%E6%8B%A1%E6%95%A3%E5%B8%8C%E6%9C%9B%EF%B8%8F?src=hash&amp;ref_src=twsrc%5Etfw">#拡散希望️</a> <a href="https://t.co/hTJriyf24c">pic.twitter.com/hTJriyf24c</a></p>&mdash; ちくわ (@chikuwa_cats) <a href="https://twitter.com/chikuwa_cats/status/1320232096766455808?ref_src=twsrc%5Etfw">October 25, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <article class="prose container">
    <h2>ジャケットを猫で埋め尽くす</h2>
    <p>みなさんこんにちは、Twitterのちくわ（<a href="https://twitter.com/chikuwa_cats">@chikuwa_cats</a>）です。</p>
    <p>
      ワタクシ、ちくわは音楽ユニット、ニューロナのリーダーをやっています。 <br>
      飼い主がちくわのために曲を書いてくれました、その名も「四足のヒーロー」です。<br>
      社会や対人関係に苦しむニンゲンという生き物を見て、もっと猫のように自由に、そして依存せずに時にはツンと突き放すことこそ愛だと語るそんなロックチューンの元気な曲です。
    </p>

    <div class="youtube">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/aZhEIrkyib0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <p>
      今回「四足のヒーロー」をシングル・カットして（AppleやGoogleやAmazonなどの）各種音楽ストアでリリースしたいと思います。そうなると音源のジャケット画像が必要です。<br>
      いっしょにジャケットを埋め尽くしませんか？
    </p>
    <h2>募集、あなたの愛猫の写真</h2>
    <p>こんなジャケットをイメージしています。（100匹の場合、あくまで予定です）</p>
    <div class="feature-image"></div>

    <p>本当に100匹参加したら、小さすぎてよくわからないかもしれません。
    でも、応募数が少なすぎた場合大きく見えるかもしれません、それは正直やってみないとわかりません。
    </p>

    <h2>参加方法</h2>
    <p>Twitterで、わたくし<a href="https://twitter.com/chikuwa_cats">@chikuwa_cats</a>へダイレクト・メッセージ（DM）をください。と言ってもなんだか照れくさい方は以下のテンプレートをコピペして、あなたの愛猫の画像を送ってください。</p>

    <textarea class="template-text">
      ワレワレが「四足のヒーロー」だ！を一緒につくるぞ！
      名前は「〇〇ちゃん」です、よろしく！
    </textarea>

    <p>上記の「〇〇ちゃん」をあなたの猫ちゃんの名前に変えてください。
    <br>
    一緒に一生の（猫生の）思い出にしよう！歓迎します。
    </p>

    <p>ちくわより</p>



    <script src="./script/index.js"></script>
  </article>
{% endblock %}
